[Desktop Entry]
Type=Application
Name=XZram
Comment=Linux swap and zram management
Exec=xzram-qt
Icon=drive-harddisk
Categories=System;Settings;
Terminal=false
StartupNotify=true
